.banner > img {
  width: 100%;
  margin-top: 25px;
}

.sobre {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #3b82f6;
  font-size: 2em;
  line-height: 1.5;
  gap: 40px;
  margin-top: 50px;
}

.sobre_intro {
  background: linear-gradient(135deg, #1c3d70 0%, #2a5298 100%);
  border: 3px solid #2a5298;
  box-shadow: 3px 3px 10px #2a5298;
  display: flex;
  border-radius: 16px;
  padding: 20px;
}

.sobre_intro_conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.sobre_intro_conteudo > h1 {
  color: #ffd00e;
  margin-bottom: 15px;
}

.sobre_intro_conteudo p {
  color: white;
}

.sobre_softskills,
.sobre_hardskills {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

.sobre_hardskills {
  text-align: right;
}

.sobre_imagem {
  width: 135px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.sobre_imagem_sol > img {
  width: 200px;
  height: 200px;
  display: block;
  margin-right: 30px;
}

.sobre_imagem_engrenagem > img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: 30px;
}

.sobre_conteudo {
  flex: 1;
  padding: 0 20px;
  font-size: 1em;
  line-height: 1.6;
}

.sobre_conteudo h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.sobre_softskills .sobre_conteudo h1 {
  color: #ffd00e;
}

.sobre_softskills .sobre_conteudo p {
  color: #ffd00e;
}
@media (max-width: 768px) {
  .banner > img {
    margin-top: 90px;
  }
  .sobre_intro_conteudo {
    flex-direction: column;
    align-items: center;
    font-size: 0.6em;
    margin: 0;
    padding: 0;
  }
  .sobre_softskills {
    flex-direction: column;
    align-items: center;
    font-size: 0.6em;
  }
  .sobre_hardskills {
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.6em;
    text-align: left;
  }

  .sobre_imagem_engrenagem,
  .sobre_imagem_sol {
    display: none;
  }
}
@media (max-width: 1060px) {
  .banner > img {
    margin-top: 90px;
  }
  .sobre_intro_conteudo {
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }
  .sobre_softskills {
    flex-direction: column;
    align-items: center;
    font-size: 0.8em;
  }
  .sobre_hardskills {
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.8em;
    text-align: left;
  }

  .sobre_imagem_engrenagem,
  .sobre_imagem_sol {
    display: none;
  }
}
@media (max-width: 645px) {

  .sobre_intro_conteudo {
    font-size: 0.5em;
  }
    .sobre_softskills {
    font-size: 0.5em;
  }
  .sobre_hardskills {
    font-size: 0.5em;
  }
}