.navegation {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.navegation_column {
  display: flex;
  flex-direction: column;
  width: 10%;
}

.menu {
  position: relative;
  text-decoration: none;
  color: #ffd00e;
  font-size: 1.4em;
  padding: 5px 10px;
  cursor: pointer;
}

.menu::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  width: 0;
  height: 2px;
  background-color: #3b82f6;
  transition: all 0.4s ease;
  transform: translateX(-50%);
  border-radius: 2px;
}

.menu:hover::after {
  width: 100%;
}
footer .navegation_column a {
  color: white;
}
@media (max-width: 857px) {
  .navegation {
    display: none;
  }
  .navegation_column {
    display: flex;
  }
}
